*{
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html, body, #root{
  height: 100%;
  width: 100%;
}
html{
  background-color: black;
}

.title{
  font-size: 40px;
  font-weight: 700;
  color: black;
  text-transform: capitalize;
}
.desc{
  font-size: 20px;
  font-weight: 600;
  color: black;
  text-transform: capitalize;
}
.content{
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.main-content{
  padding: 8px 20px;
  margin: 12px;
  background-color: aqua;
  border-radius: 5px;
}